html {
    background-color: #00ad24;
    height: 100%;
}

body {
    height: 100%;
    background-color: #30c5ff;
    margin: 0;
}

.one {
    position: fixed;
    background-color: red;
    height: 100%;
    width: 20%;
}

.two {
    background-color: yellow;
    height: 100%;
    margin-left: 20%;
}