html, body, #root, .app, .main {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    background: #242526;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.main {
    position: fixed;
    top: 0;
    right: 0;
    left: 20%;
    padding: 0 3%;
    overflow-y: scroll;
}

.main-header {
    position: sticky;
    z-index: 200;
    top: 0;
    padding: 20px 0;
    background: rgba(36,37,38,0.95);
}

::-webkit-scrollbar {
    display: none;
}